* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

/* Page styling */
body {
    --primary-color: rgb(0, 130, 0);
    --secondary-color: rgb(0, 210, 255);
    /* --tertiary-color: rgb(255, 110, 0); */
    --tertiary-color: rgb(35, 46, 51);
    --icon-color: rgb(160, 160, 160);
    /* --sb-track-color: rgb(35, 46, 51); */
    --sb-size: 8px;

    scrollbar-color: var(--primary-color) var(--tertiary-color);
    background-color: rgb(35, 31, 32);
    /* background-color: black; */
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--tertiary-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

main section {
    margin: 160px 140px 0;
}

strong {
    color: var(--secondary-color);
    font-weight: 400;
}

h1 {
    font-size: 110px;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 60px;
}

p {
    font-size: 26px;
    margin: 30px 0;
}

/* Navigation bar */
#navBar {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    background-color: var(--primary-color);
}

/* Navigation links */
.navLinks {
    display: flex;
    gap: 50px;
}

.navLinks a {
    font-size: 1.5em;
    text-decoration: underline 0.11em rgba(255, 255, 255, 0);
    transition: text-decoration-color 0.15s;
}

.navLinks a:hover {
    text-decoration-color: white;
}

/* Border corners */
#corners {
    position: relative;
}

.borderCorner {
    position: absolute;
    height: 20px;
    width: 20px;
}

#top-left {
    top: 0;
    left: 0;
    border-top: 5px solid var(--secondary-color);
    border-left: 5px solid var(--secondary-color);
}

/* #top-right {
    top: 0;
    right: 0;
    border-top: 3px solid var(--secondary-color);
    border-right: 3px solid var(--secondary-color);
} */

#bottom-right {
    bottom: 0;
    right: 0;
    border-bottom: 5px solid var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
}

/* #bottom-left {
    bottom: 0;
    left: 0;
    border-bottom: 3px solid var(--secondary-color);
    border-left: 3px solid var(--secondary-color);
} */

/* Intro section */
#intro {
    margin: 280px 30px;
}

#introText,
#introText h2,
#introText strong,
#introText p {
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

#introText h2 {
    font-weight: 400;
}

#introText strong {
    font-weight: 700;
}

#introText p {
    font-size: 34px;
}

#introLinks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}

#introLinks i {
    color: var(--icon-color);
    font-size: 40px;
    transition: 0.2s;
}

#introLinks i:hover {
    color: white;
    transition: 0.15s;
}

/* About section */
#about {
    margin-left: 290px;
    margin-right: 290px;
}

#about h1 {
    padding: 5px 30px 0;
}

#aboutContent {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 4rem;
    padding: 0 30px 30px;
}

#aboutImage {
    width: 40vw;
    object-fit: cover;
}

@media (max-width: 1024px) {
    #aboutContent {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Skills section */
#skills {
    text-align: center;
}

#skillsContent {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    padding: 30px 0 0 0;
}

#creativeSkills {
    margin: 25px 0 0 0;
}

#skillsText {
    display: flex;
    flex-flow: column nowrap;
}

#skillsText i {
    color: var(--primary-color);
    font-size: 100px;
}

#skillsText .fa-html5:hover {
    color: rgb(255, 110, 0);
}

#skillsText .fa-css3-alt:hover {
    color: var(--secondary-color);
}

#skillsText .fa-square-js:hover {
    color: rgb(255, 255, 0);
}

#skillsText .fa-database:hover {
    color: rgb(219, 117, 51)
}

#skillsText .fa-wordpress-simple:hover {
    color: #26759c;
}

/* #skillsText .fa-camera:hover {
    color: #031833;
    color: #3baaff;
} */

/* #skillsText .fa-video:hover {
    color: #00005b;
    color: #9b9aff;
} */

/* #skillsText .fa-paintbrush:hover {
    color: #300400;
    color: #f79b01;
} */

#skillsText ul {
    font-size: 20px;
    list-style: none;
    margin: 10px 0 0;
    padding: 5px 10px;
    background-color: var(--tertiary-color);
    border-radius: 0.2rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.15s, opacity 0.15s;
}

#skillsText i:hover+ul {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
}

/* Projects section */
#projects {
    margin-left: 290px;
    margin-right: 290px;
}

#projects h1 {
    padding: 5px 30px 0 !important;
}

#projectsText {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 30px 30px;
    margin: 30px 0 0;
}

#projectsText>* {
    max-width: calc(50% - 2rem);
    flex: 1 1 auto;
}

#projectsText>a {
    position: relative;
}

.projectsImages {
    object-fit: contain;
    max-width: 100%;
    opacity: 1;
    transition: 0.15s;
}

.linkText {
    position: absolute;
    font-size: 24px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .15s ease;
}

#projectsText>a:hover .projectsImages {
    opacity: 0.3;
}

#projectsText>a:hover .linkText {
    opacity: 1;
}

@media (max-width: 1024px) {
    #projectsContent {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Contact section */
#contact {
    margin: 160px 290px;
}

#contact h1 {
    padding: 5px 30px 0;
}

#contactText {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0;
    padding: 0 30px 0;
}

.emailLink {
    text-decoration: underline 0.11em rgba(255, 255, 255, 0);
    transition: text-decoration-color 0.15s;
}

.emailLink:hover {
    text-decoration-color: var(--secondary-color);
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    border-color: var(--primary-color);
    padding: 10px 15px;
    font-size: 26px;
    text-decoration: none;
    transition: all 0.15s ease;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0);
    border-color: var(--secondary-color);
}

@media (max-width: 1024px) {
    #contactContent {
        flex-wrap: wrap;
        justify-content: center;
    }
}